@use '../../../styles/variables' as vars;
@use '../../../styles/functions' as functions;


$main-title-font-size: 80px;
$subtitle-font--border-width: 0.8px;
$subtitle-font-size: calc($main-title-font-size * (48 / 100) - (2* $subtitle-font--border-width));

:host {
    position: relative;
    width: vars.$min-section-width;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


#title-section {
    display: flex;
    flex-direction: column;
    align-items: end;
}


#hero {
    z-index: -1;
    position: absolute;
    bottom: 0;
    height: 80vh
}


h1 {
    margin-top: mixins.margin-top-full(560);
    line-height: 1.2;
    font-size: $main-title-font-size;
    font-weight: 700;
}


#subtitle {
    line-height: 1.2;
    font-size: $subtitle-font-size;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: $subtitle-font--border-width vars.$bright-green;
}