@use '../../../styles/variables' as vars;
@use '../../../styles/functions' as func;


$main-title-font-size: 80px;
$subtitle-font--border-width: 0.8px;
$subtitle-font-size: calc($main-title-font-size * (48 / 100) - (2* $subtitle-font--border-width));

:host {
    position: relative;
    min-width: vars.$min-section-width;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


#hero-container {
    width: max-content;
    display: flex;
    justify-content: center;
}


#title-section {
    display: flex;
    flex-direction: column;
    align-items: end;
}


#hero {
    z-index: -1;
    position: absolute;
    bottom: 0;
    height: 80vh
}


h1 {
    margin-top: func.margin-top-full-value(560);
    line-height: 1.2;
    font-size: $main-title-font-size;
    font-weight: 700;
    color: vars.$font-color-title
}


#subtitle {
    line-height: 1.2;
    font-size: $subtitle-font-size;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: $subtitle-font--border-width vars.$font-color-title;
}


#city {
    display: none;
}


@media (max-width: #{vars.$breakpoint-tablet-portrait}) {
    :host {
        position: unset;
        padding: vars.$margin-top-section-mobile vars.$padding-mobile-left-right 0 vars.$padding-mobile-left-right;
        box-sizing: border-box;
        min-width: vars.$full-width-with-scroll-bar;
        max-width: 100%;
        min-height: calc(100svh - vars.$nav-height-mobile);
        max-height: calc(100svh - vars.$nav-height-mobile);
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }


    app-top-bar {
        display: none;
    }


    #hero-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }


    #hero {
        position: unset;
        width: 100%;
        height: 0;
        flex: 1 1 auto;
        object-fit: contain;
    }


    #title-section {
        height: max-content;
        flex: 0 0 auto;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 8px;
    }


    h1 {
        font-size: 40px;
        font-weight: 400;
        margin-top: 0;
    }


    #subtitle {
        font-size: 24px;
        width: max-content;
        font-weight: 400;
        color: vars.$font-color-secondary;
        -webkit-text-stroke: unset;
    }


    #city {
        display: block;
    }
}