@use '../../../../styles/variables' as vars;
@use '../../../../styles/mixins' as mix;


:host {
    width: calc(vars.$switch-arrow-container-width + vars.$section-title-width);
    max-height: 40vh;
    display: flex;
    cursor: pointer;
}


h2 {
    margin-right: 32px;
    min-height: 65px;
    line-height: 1.2;

    @include mix.emptyLetters(54px, 2px, vars.$font-color-title);

    writing-mode: sideways-lr;
    text-orientation: mixed;
}


@media (max-height: 950px) {
    :host {
        margin-left: 21px
    }

    h2 {
        @include mix.emptyLetters(36px, 2px, vars.$font-color-title);
    }
}


@media (max-width: vars.$breakpoint-tablet-portrait) {
    :host {
        display: none;
    }
}


@media (max-height: 630px) {
    :host {
        margin-left: 35px
    }

    h2 {
        @include mix.emptyLetters(24px, 2px, vars.$font-color-title);
    }
}