@use '../../../../styles/variables' as vars;
@use '../../../../styles/mixins' as mix;


:host {
    width: calc(vars.$switch-arrow-container-width + vars.$section-title-width);
    display: flex;
}


h2 {
    margin-right: 32px;
    min-height: 65px;
    line-height: 1.2;

    @include mix.emptyLetters(54px, 2px, vars.$font-color-title);

    writing-mode: sideways-lr;
    text-orientation: mixed;
}