@use "../../../../../styles/_variables" as vars;
@use "../../../../../styles/_functions" as func;


:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img {
    height: func.margin-top-full-value(40);
}


p {
    margin-top: func.margin-top-full-value(17);
    font-family: vars.$font-family-primary;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}