@use '../../../../styles/variables' as vars;

$left-paragraph-padding-left: 42px;
$bullet-point-size: 13px;
$distance-bullet-point-text: 21px;
$distance-padding-text: calc($bullet-point-size + $distance-bullet-point-text);



:host {
    margin-right: 32px;
    margin-bottom: 80px;
    width: 919px;
    height: 560px;

    &:last-child {
        margin-right: 0;
    }
}


.project-container {
    border-radius: 30px;
    padding: 42px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    background-color: vars.$bright-green-transparent;
}


.project-details {
    margin-top: 16px;
}


h4 {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 24px;
    gap: 21px;

    img {
        width: 13px;
        height: 13px;
    }

}


.paragraphs {

    padding-left: 42px;

    >div {
        margin-top: 24px;

        &:first-child {
            margin-top: 0;
        }
    }

    p {
        margin-top: 16px;
        margin-left: $distance-padding-text;
    }
}


#upper-part {
    display: flex;

    #left-paragraphs {
        margin-right: 54px;
    }

    >#project-image-wrapper {
        width: max-content;
        display: block;

        >img {
            border-radius: 30px;
            height: 203px;
            width: 337px;
            object-fit: cover;
        }


        #buttons {
            padding-top: 16px;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 28px;
        }
    }
}


#project-image-wrapper {
    display: none;
}


#show-me-less {
    display: none;
}


@media (max-width: #{vars.$breakpoint-tablet-portrait}) {
    :host {
        margin-right: 0;
        margin-bottom: 0;
        box-sizing: border-box;
        width: unset;
        height: auto;
    }


    .project-container {
        padding: 16px 8px 55px 8px;


        #show-me-more {
            position: relative;
            top: 16px;
            width: 100%;
            display: flex;
            justify-content: center;
            color: vars.$font-color-secondary;
            font-size: 16px;
            text-decoration: underline;

            >img {
                margin-left: 6px;
            }
        }
    }


    #show-me-less {
        margin-top: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
        color: vars.$font-color-secondary;
        font-size: 16px;
        text-decoration: underline;

        >img {
            margin-left: 6px;
        }
    }


    .paragraphs {

        padding-left: 0;
        margin-top: 16px;

        >div {
            margin-top: 16px;
        }
    }


    #upper-part {

        >#project-image-wrapper {
            display: none;
        }
    }

    #project-image-wrapper {
        width: 100%;
        margin-top: 21px;
        display: block;


        >img {
            border-radius: 30px;
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }
}