@use '../../../styles/variables' as vars;
@use '../../../styles/functions' as func;
@use '../../../styles/mixins' as mix;


:host {
    min-width: calc(vars.$min-section-width + vars.$switch-arrow-container-width + vars.$section-title-width);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


app-contact-links {
    display: none;
}


.margin-top-desktop-contact {
    margin-top: func.margin-top-full-value(164);
}


.arrow-container {
    display: none;
}


#call-to-action {
    margin-left: 56px;
    margin-bottom: func.margin-top-full-value(164);
    width: 417px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;


    >div {
        p {
            text-align: end;
            margin-top: 32px;

            &:first-child {
                margin-top: 0;
            }
        }

        #first-line {
            color: vars.$font-color-secondary
        }

        a {
            margin-top: 32px;
            height: 30px;
            display: flex;
            justify-content: end;
            align-items: center;
            color: vars.$font-color-primary;

            .svg-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
            }

            p {
                margin-top: 0;
                margin-left: 8px;
            }

            &:hover {
                color: vars.$font-color-link-hover;

                ::ng-deep svg {

                    path,
                    rect,
                    ellipse {
                        fill: vars.$font-color-link-hover;
                    }
                }
            }

            &:active {
                color: vars.$font-color-secondary;
                text-decoration: underline;

                ::ng-deep svg {

                    path,
                    rect,
                    ellipse {
                        fill: vars.$font-color-secondary;
                    }
                }
            }
        }
    }

    .arrow-container {
        display: flex;


        >img {
            padding: 160px 0;
            transform: rotate(180deg);
            cursor: pointer;
        }
    }
}


app-end-block {
    margin-left: 32px;
}


@media (max-width: #{vars.$breakpoint-tablet-portrait}) {

    :host {
        padding: vars.$margin-top-section-mobile vars.$padding-mobile-left-right 0 vars.$padding-mobile-left-right;
        flex-direction: column-reverse;
    }


    app-contact-links {
        padding: 54px 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .margin-top-desktop-contact {
        margin-top: unset;
    }


    .arrow-container {
        padding-top: 54px;
        height: 45px;
        width: 100%;
        display: flex;
        justify-content: center;

        >img {
            padding: 0;
            width: 45px;
            height: 15px;
            transform: rotate(270deg);
        }
    }


    app-contact-form {
        margin-top: 32px;
    }


    #call-to-action {
        margin: 0;
        width: 100%;
        align-items: start;


        >div {
            p {
                text-align: start;
            }

            #first-line {
                color: vars.$font-color-secondary
            }

            a {
                justify-content: start;

                >div {
                    width: 30px;
                }
            }
        }

        #links {
            display: none;
        }

        .arrow-container {
            display: none;
        }
    }


    app-end-block {
        margin-left: 0;
    }
}