@use "../../../styles/variables" as vars;


:host {
    height: 100%;
    min-width: vars.$switch-section-area-width !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}