@use './variables' as vars;



@mixin emptyLetters($font-size, $line-thickness, $border-color) {
    font-size: $font-size;
    color: transparent;
    -webkit-text-stroke: $line-thickness $border-color;
}


@mixin drop-glow($blur: 20px, $horizontal: 0, $vertikal: 0, $color: vars.$bright-green) {
    filter: drop-shadow($horizontal $vertikal $blur $color) drop-shadow($horizontal $vertikal (
            $blur * 0.5) $color
    );
}

@mixin drop-low-glow($blur: 20px, $horizontal: 0, $vertikal: 0, $color: vars.$bright-green) {
    filter: drop-shadow($horizontal $vertikal $blur $color);
}