@use './variables' as vars;



@mixin emptyLetters($font-size, $line-thickness, $border-color) {
    font-size: $font-size;
    color: transparent;
    -webkit-text-stroke: $line-thickness $border-color;
}


@mixin drop-glow($horizontal: 0, $vertikal: 0, $blur: 20px, $color: vars.$bright-green) {
    filter: drop-shadow($horizontal $vertikal $blur $color);
}