$font-stack-quantico: 'Quantico', sans-serif;
$font-stack-roboto-mono: 'Roboto Mono', monospace;

$font-family-primary: $font-stack-quantico;
$font-family-secondary: $font-stack-roboto-mono;


$bright-green: #B5E93B;
$bright-green-transparent: #B5E93B33;
$red: #FD2E12;
$white: #FFFFFF;
$grey: #9E9D9D;
$logo-grey: #4A4A4A;
$black: #000000;