$breakpoint-tablet-portrait: 799px;


$bright-green: #B5E93B;
$bright-green-transparent: #B5E93B33;
$light-green: #D3ED97;
$red: #FD2E12;
$white: #FFFFFF;
$grey-btn-secondary-disabled: #9E9D9D;
$dark-grey: #827B7B;
$nav-grey: #4A4A4A;
$black: #000000;

$border-color: $bright-green;

$font-stack-quantico: 'Quantico', sans-serif;
$font-stack-roboto-mono: 'Roboto Mono', monospace;

$font-family-primary: $font-stack-quantico;
$font-family-secondary: $font-stack-roboto-mono;

$font-color-primary: $white;
$font-color-secondary: $bright-green;
$font-color-title: $bright-green;
$font-color-button-primary-enabled: $black;
$font-color-button-primary-disabled: $nav-grey;
$font-color-button-secondary-enabled: $bright-green;
$font-color-button-secondary-disabled: $grey-btn-secondary-disabled;
$font-color-navigation: $nav-grey;
$font-color-error: $red;
$font-color-link-hover: $light-green;

$button-color-primary-disabled: $dark-grey;
$button-color-primary-enabled: $bright-green;
$button-color-secondary-disabled: transparent;
$button-color-secondary-enabled: transparent;
$button-color-secondary-hover: #B5E93B33;

$border-color-button-enabled: $bright-green;
$border-color-button-secondary-hover: #D3ED97;
$border-color-button-secondary-disabled: $dark-grey;

$padding-mobile-left-right: 16px;
$margin-top-section-mobile: 86px;

$scroll-bar-size: 4px;
$navigation-width: 172px;
$nav-height-mobile: 73px;
$switch-arrow-img-width: 144px;
$switch-arrow-container-width: $switch-arrow-img-width * 1.4;
$section-title-width: 96px;
$desktop-end-block-width: 100px;

$full-width-with-scroll-bar: calc(100vw - $scroll-bar-size - 2 * $padding-mobile-left-right);
$full-height-with-scroll-bar: calc(100vh - $scroll-bar-size);
$min-section-width: calc(100vw - #{$navigation-width} - #{$switch-arrow-container-width} - #{$section-title-width});