@use '_variables' as vars;
@use '_fonts' as fonts;


* {
    margin: 0;
    font-family: vars.$font-family-primary;
    color: vars.$bright-green;
    font-weight: 400;
}


body {
    background-color: vars.$black;
}


app-root {
    display: flex;
}


a {
    text-decoration: none;
    color: vars.$black;
}