@use '_variables' as vars;
@use '_fonts' as fonts;


* {
    margin: 0;
}


html {
    font-family: vars.$font-family-primary;
    color: vars.$font-color-primary;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;

}


body {
    max-height: 100vh;
    background-color: vars.$black;
    overflow-x: hidden;
    overflow-y: hidden;
}


a {
    text-decoration: none;
    color: vars.$black;
}