@use '_variables' as vars;
@use '_fonts' as fonts;


* {
    margin: 0;
    font-family: vars.$font-family-primary;
    color: vars.$bright-green;
    font-weight: 400;
}


body {
    max-height: 100vh;
    background-color: vars.$black;
    overflow-x: scroll;
    overflow-y: hidden;
}


app-root {
    display: flex;
}


a {
    text-decoration: none;
    color: vars.$black;
}