@use '_variables' as vars;
@use '_fonts' as fonts;
@use '_mixins' as mix;


* {
    margin: 0;
}


html {
    font-family: vars.$font-family-primary;
    color: vars.$font-color-primary;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
}


body {
    max-height: 100vh;
    background-color: vars.$black;
    overflow-x: hidden;
    overflow-y: hidden;
}


a {
    text-decoration: none;
    color: vars.$black;
}


.only-mobile {
    display: none;
}


.desktop-full-width {
    min-width: calc(100vw - #{vars.$navigation-width});
}


.h-100-per {
    height: 100%;
}


.max-w-1500px {
    max-width: 1500px;
}


.d-flex {
    display: flex;
}


.flex-dir-column {
    flex-direction: column;
}


.flex-dir-column-rev {
    flex-direction: column-reverse;
}


.just-cont-space-bet {
    display: flex;
    justify-content: space-between;
}


.align-items-start {
    align-items: start;
}


.pointer {
    cursor: pointer;
}


.glow:hover {
    @include mix.drop-glow();
    cursor: pointer;
}


.low-glow:hover {
    @include mix.drop-low-glow(10px);
    cursor: pointer;
}


.btn-primary {
    border-radius: 30px;
    padding: 13px 30px;
    width: max-content;
    font-family: vars.$font-family-primary;


    &:enabled {
        background-color: vars.$button-color-primary-enabled;
        color: vars.$font-color-button-primary-enabled;
        border-color: vars.$border-color-button-enabled;
    }


    &:disabled {
        background-color: vars.$button-color-primary-disabled;
        color: vars.$font-color-button-primary-disabled;
    }
}


.btn-secondary {
    border-radius: 30px;
    padding: 13px 30px;
    width: max-content;
    font-family: vars.$font-family-primary;


    &:enabled {
        background-color: vars.$button-color-secondary-enabled;
        color: vars.$font-color-button-secondary-enabled;
        border-color: vars.$border-color-button-enabled;
    }


    &:enabled:hover {
        background-color: vars.$button-color-secondary-hover;
        color: vars.$font-color-primary;
        border-color: vars.$border-color-button-secondary-hover;
    }


    &:disabled {
        background-color: vars.$font-color-button-secondary-disabled;
        color: vars.$font-color-button-secondary-disabled;

    }
}


@media (max-width: #{vars.$breakpoint-tablet-portrait}) {
    html {
        font-size: 16px;
    }


    .only-desktop {
        display: none !important;
    }



    .only-mobile {
        display: unset;
    }


    .desktop-full-width {
        min-width: unset;
    }


    .mobile-flex-dir-column {
        flex-direction: column;
    }
}