@use '../../../styles/variables' as vars;
@use '../../../styles/functions' as func;
@use '../../../styles/mixins' as mix;


:host {
    margin-top: func.margin-top-full-value(164);
    width: vars.$min-section-width;
    display: flex;
    flex-direction: column;
}


app-btn-to-contact {
    align-self: flex-end;
    margin-top: func.margin-top-full-value(24);
}


@media (min-width: #{vars.$breakpoint-widescreen}) {
    :host {
        width: calc(vars.$min-section-width-widescreen);
    }
}


@media (max-width: #{vars.$breakpoint-tablet-portrait}) {
    :host {
        @include mix.standard-spacing-section-mobile();
        min-width: auto;
        width: vars.$full-width-with-scroll-bar;
        max-width: vars.$full-width-with-scroll-bar;
    }


    app-btn-to-contact {
        align-self: center;
        margin-top: 32px;
    }
}