@use '../../../styles/functions' as func;
@use '../../../styles/variables' as vars;


:host {
    margin-top: func.margin-top-full-value(164);
    min-width: vars.$min-section-width;
    display: flex;
    flex-direction: column;
}


button {
    align-self: flex-end;
    margin-top: func.margin-top-full-value(24);
    border-radius: 30px;
    padding: 13px 30px;
    background-color: vars.$bright-green;
    font-family: vars.$font-family-primary;
    font-size: 14px;
    line-height: 120%;
    color: vars.$font-color-button-green;
}


@media (max-width: #{vars.$breakpoint-tablet-portrait}) {
    :host {
        min-width: auto;
        max-width: vars.$full-width-with-scroll-bar;
    }
}