@use '../../../styles/variables' as vars;
@use '../../../styles/functions' as func;
@use '../../../styles/mixins' as mix;


:host {
    margin-bottom: 8.4444444444vh;
    padding-top: func.margin-top-full-value(100);
    min-width: vars.$min-section-width;

    display: flex;
    align-items: flex-end;

    gap: 42px;
}


app-section-title {
    margin-top: auto;
}


.max-w-1500px {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#skill-text {
    margin-top: 24px;
}


#skills-container {
    margin-top: 33px;
    height: fit-content;
    display: grid;
    justify-content: flex-start;

    grid-template-columns: repeat(auto-fill, 86px) 214px;
    gap: 42px;
    max-width: 854px;
}


.skill-item {
    width: 86px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    >span {
        text-align: center;
    }

    img {
        height: 60px;
        object-fit: contain;
    }
}


#motivation-item-desktop {
    width: 214px;
}


#motivation-item-mobile {
    display: none;
}


app-btn-to-contact {
    display: none;
}


@media (max-width: 1647px) {
    #skills-container {
        max-width: 100%;
    }
}


@media (max-width: #{vars.$breakpoint-tablet-portrait}) {
    :host {
        margin-top: 0;
        padding: vars.$spacing-top-section-mobile vars.$padding-mobile-left-right 0 vars.$padding-mobile-left-right;
        width: vars.$full-width-with-scroll-bar;
        display: block;
    }


    .max-w-1500px {
        display: block;
    }


    #skills-container {
        grid-template-columns: repeat(auto-fill, minmax(86px, 1fr));
        width: 100%;
    }


    .skill-item {
        justify-self: center;
    }


    #motivation-item-desktop {
        display: none;
    }


    #motivation-item-mobile {
        margin-top: 32px;
        display: block;
    }


    app-btn-to-contact {
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }
}