@use '../../../styles/variables' as vars;
@use '../../../styles/functions' as func;
@use '../../../styles/mixins' as mix;


:host {
    margin-top: func.margin-top-full-value(461);
    min-width: min-content;
    height: fit-content;
    display: flex;
}


#skill-text {
    margin-top: 24px;
}


#skills-container {
    margin-top: 33px;
    height: fit-content;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(6, 1fr);
    gap: 42px;
}


.skill-item {
    width: 86px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    >span {
        text-align: center;
    }

    img {
        height: 60px;
        object-fit: contain;
    }
}


#motivation-item-desktop {
    grid-column: 6;
    width: 240px;
}


#motivation-item-mobile {
    display: none;
}


app-btn-to-contact {
    display: none;
}


@media (max-width: #{vars.$breakpoint-tablet-portrait}) {
    :host {
        margin-top: vars.$margin-top-section-mobile;
        padding: 0 vars.$padding-mobile-left-right;
        width: vars.$full-width-with-scroll-bar;
    }


    #skills-container {
        grid-template-columns: repeat(auto-fill, minmax(86px, 1fr));
        width: 100%;
    }


    .skill-item {
        justify-self: center;
    }


    #motivation-item-desktop {
        display: none;
    }


    #motivation-item-mobile {
        margin-top: 32px;

        display: block;
    }


    app-btn-to-contact {
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }
}