@use '../styles/variables' as vars;


:host {
    height: 100vh;
    display: flex;
}


app-navigation {
    height: max-content;
    display: block;
}


@media (max-width: #{vars.$breakpoint-tablet-portrait}) {
    :host {
        flex-direction: column;
    }
}