@use '../../styles/variables' as vars;
@use '../../styles/functions' as func;
@use '../../styles/mixins' as mix;


:host {
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
}


.scroll-container {
    @include mix.scrollbarDesktop()
}


a {
    color: vars.$font-color-primary
}


h2 {
    margin-top: func.margin-top-full-value(164);
    margin-left: 102px;
    margin-right: 32px;
    min-height: 65px;
    line-height: 1.2;

    @include mix.emptyLetters(54px, 2px, vars.$font-color-title);

    writing-mode: sideways-lr;
    align-self: self-end;
}


h3 {
    margin-top: 22px;
    color: vars.$font-color-title;
}


app-switch-arrow {
    display: flex;
    align-items: center;
}


#legals-panel-one {
    position: relative;
    max-height: fit-content;
    display: flex;
    justify-content: space-between;
}


.ma-le-56px {
    margin-left: 56px;
}


.ma-le-317px {
    margin-left: 317px;
}


.content {
    margin-top: func.margin-top-full-value(164);
    max-width: 740px;


    #imprint {
        >ul {
            margin-top: 22px;
        }


        >p {
            margin-top: 22px;
        }
    }
}


#call-to-action {
    margin: func.margin-top-full-value(164) 0 func.margin-top-full-value(164) 56px;
    padding-right: 32px;
    width: 417px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    >div {
        p {
            text-align: end;
            margin-top: 32px;

            &:first-child {
                margin-top: 0;
            }
        }

        #first-line {
            color: vars.$font-color-secondary
        }

        a {
            margin-top: 32px;
            height: 30px;
            display: flex;
            justify-content: end;
            align-items: center;
            color: vars.$font-color-primary;

            p {
                margin-top: 0;
                margin-left: 8px;
            }
        }
    }


    >img {
        padding: 160px 0;
        transform: rotate(180deg);
    }
}


@media (max-width: #{vars.$breakpoint-tablet-portrait}) {
    .ma-le-56px {
        margin-left: 0;
    }


    .ma-le-317px {
        margin-left: 0;
    }


    .padding-mobile-left-right {
        box-sizing: border-box;
        padding: 0 vars.$padding-mobile-left-right;
    }


    .scroll-container {
        @include mix.scrollbarMobile();
    }


    #mobile-arrow-back-to-homepage {
        padding-top: 28px;
        padding-bottom: 28px;


        >img {
            width: 40px;
            height: 40px;
        }
    }


    .content {
        margin-top: 0;
    }


    h2 {
        margin: 0;
        min-height: auto;

        @include mix.emptyLetters(32px, 2px, vars.$font-color-title);

        writing-mode: unset;
        align-self: unset;
    }


    #any-questions {
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }


    app-switch-arrow {
        display: none;
    }


    #legals-panel-one {
        justify-content: center;
    }


    #call-to-action {
        display: none;
    }


    #mobile-arrow-back-to-start {
        padding-top: 46px;
        width: 100%;
        display: flex;
        justify-content: center;

        >img {
            width: 45px;
            transform: rotate(270deg);
        }
    }


    app-contact-links {
        padding: 46px 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }


    app-end-block {
        position: relative;
        bottom: 0;
        width: 100vw;
    }

}