@use '../../styles/variables' as vars;


:host {
    display: flex;
    width: 100%;
    overflow: hidden;
}


app-legal-notes {
    display: flex;
}


.scroll-container {
    width: max-content;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}


a {
    color: vars.$font-color-primary
}


h3 {
    color: vars.$font-color-title;
}


#content {
    max-width: 1900px;
}