<div class="scroll-container" (wheel)="onWheel($event)">
    <app-top-bar></app-top-bar>
    <div #start class="full-width">
        <div class="d-flex">
            <h2>{{ contentService.content().legalNotes.title }}</h2>
            <div class="content ma-le-56px">
                <div id="imprint">
                    <h3>{{ contentService.content().legalNotes.imprint.header }}</h3>
                    <ul>
                        <li>{{ contentService.content().general.name }}</li>
                        <li>{{ contentService.content().general.address.street }}</li>
                        <li>{{ contentService.content().general.address.zip + ' ' + contentService.content().general.address.city }}</li>
                    </ul>
                    <p>{{ contentService.content().legalNotes.imprint.emailKey }}:
                        <a href="mailto: {{ contentService.content().general.email }}">{{
                            contentService.content().general.email}}</a>
                    </p>
                </div>
                <div class="main">
                    @for (paragraph of contentService.content().legalNotes.main.slice(0, 3); track paragraph.header)
                    {
                    <div>
                        <h3>{{ paragraph.header }}</h3>
                        <p>{{ paragraph.text }}</p>
                    </div>
                    }
                </div>
            </div>
        </div>
        <app-switch-arrow (click)="triggerScroll('secondColumn')"></app-switch-arrow>
    </div>
    
    <div #secondColumn class="full-width">
        <div class="main">
            <div class="content ma-le-317px">
                @for (paragraph of contentService.content().legalNotes.main.slice(3); track paragraph.header) {
                <div>
                    <h3>{{ paragraph.header }}</h3>
                    <p>{{ paragraph.text }}</p>
                </div>
                }
                <div id="anyQuestions">
                    <p>
                        {{ contentService.content().legalNotes.anyQuestions.text }}
                        <a href="mailto: {{ contentService.content().general.email }}">{{
                            contentService.content().general.email}}</a>
                    </p>
                    <p>{{ contentService.content().legalNotes.anyQuestions.date }}</p>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div id="call-to-action">
                <div>
                    <a href="mailto: {{ contentService.content().general.email }}">
                        <img src="img/contact/mail.svg" alt="email">
                        <p>E-mail: {{ contentService.content().general.email }}</p>
                    </a>
                    <a href="tel: {{ contentService.content().general.tel}}">
                        <img src="img/contact/phone.svg" alt="phone">
                        <p>Tel: {{ contentService.content().general.tel }}</p>
                    </a>
                </div>

                <img src="img/next-section-arrow.png" alt="arrow" (click)="triggerScroll('start')">

                <div>
                    <a routerLink="/legal-notes">Legal notice</a>
                    <a routerLink="/privacy-policy">Privacy Policy</a>
                    <p>&copy; André Groß 2026</p>
                </div>
            </div>
            <app-end-block></app-end-block>
        </div>
    </div>
</div>