@use '../../styles/variables' as vars;
@use '../../styles/functions' as func;
@use '../../styles/mixins' as mix;


:host {
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
}


.scroll-container {
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}


a {
    color: vars.$font-color-primary
}


h2 {
    margin-top: func.margin-top-full-value(164);
    margin-left: 102px;
    margin-right: 32px;
    min-height: 65px;
    line-height: 1.2;

    @include mix.emptyLetters(54px, 2px, vars.$font-color-title);

    writing-mode: sideways-lr;
    align-self: self-end;
}


h3 {
    margin-top: 22px;
    color: vars.$font-color-title;
}


app-switch-arrow {
    display: flex;
    align-items: center;
}


.d-flex {
    display: flex;
}


.full-width {
    max-height: fit-content;
    min-width: calc(100vw - #{vars.$navigation-width});
    display: flex;
    justify-content: space-between;
}


.ma-le-56px {
    margin-left: 56px;
}


.ma-le-317px {
    margin-left: 317px;
}


.content {
    margin-top: func.margin-top-full-value(164);
    max-height: 100%;
    max-width: 740px;


    #imprint {

        >ul {
            margin-top: 22px;
        }

        >p {
            margin-top: 22px;
        }
    }
}


#call-to-action {
    margin: func.margin-top-full-value(164) 0 func.margin-top-full-value(164) 56px;
    width: 417px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    >div {
        p {
            text-align: end;
            margin-top: 32px;

            &:first-child {
                margin-top: 0;
            }
        }

        #first-line {
            color: vars.$font-color-secondary
        }

        a {
            margin-top: 32px;
            height: 30px;
            display: flex;
            justify-content: end;
            align-items: center;
            color: vars.$font-color-primary;

            p {
                margin-top: 0;
                margin-left: 8px;
            }
        }
    }


    >img {
        padding: 160px 0;
        transform: rotate(180deg);
    }
}