@use '../../../../styles/variables' as vars;
@use '../../../../styles/functions' as func;


:host {
    min-height: 100%;
    min-width: vars.$desktop-end-block-width;
    background-color: vars.$bright-green;
}


footer {
    display: none;
}


@media (max-width: #{vars.$breakpoint-tablet-portrait}) {
    :host {
        margin: 0;
        padding: 32px 0 34px 0;
        width: 100%;
        min-height: unset;
        height: max-content;
    }


    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;


        p, a {
            color: vars.$font-color-navigation;
            text-align: center;
            font-size: 13px;
        }

        img {
            height: 41px;
        }


    }
}