@use '../../../../styles/_variables' as vars;
@use "../../../../styles/_functions" as func;

:host {
    width: 100%;
}

p {
    color: vars.$font-color-primary;
}

h3 {
    margin-top: func.margin-top-full-value(53);
    font-family: vars.$font-family-primary;
    color: vars.$font-color-title;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;

    >span {
        display: none;
    }
}

#argument-block-container {
    padding: func.margin-top-full-value(18) func.margin-top-full-value(58) 0 func.margin-top-full-value(58);
    display: flex;
    justify-content: space-between;
}

.argument-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    ::ng-deep svg {
        height: func.margin-top-full-value(40); // Basis-Höhe für Desktop
        width: auto;

        .state-hover {
            display: none;
        }

        .state-default {
            display: block;
        }

        .base {
            display: block;
        }
    }

    p {
        margin-top: func.margin-top-full-value(17);
        font-family: vars.$font-family-primary;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        color: vars.$font-color-primary;
        transition: color 0.2s ease-in-out;
    }

    &:hover {
        p {
            color: vars.$font-color-secondary;
        }

        ::ng-deep svg {
            .state-hover {
                display: block !important;
            }

            .state-default {
                display: none !important;
            }
        }
    }
}

@media (max-width: #{vars.$breakpoint-tablet-portrait}) {
    h3 {
        margin-top: 16px;
        width: 100%;
        text-align: center;
        font-size: 32px;

        >span {
            display: inline;
            font-family: vars.$font-family-primary;
            color: vars.$font-color-title;
            font-weight: 700;
            font-size: 32px;
            line-height: 120%;
        }
    }

    #argument-block-container {
        padding: 32px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;
    }

    .argument-block {
        ::ng-deep svg {
            height: 50px;
        }
    }
}