@use '../../../../styles/variables' as vars;
@use '../../../../styles/functions' as func;


:host {
    position: absolute;
    top: 0;

    margin-top: func.margin-top-full-value(30);
    width: vars.$min-section-width;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 48px;
}